#header {
  height:700px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-image: url('http://i.imgur.com/n4t4S2A.jpg');
}

.space {
  padding: 0 20px 0 20px;
}

nav {
  height: 80px;
  background-color: #000;
  line-height: 80px;
}

#logo {
  height: 80px;
}

nav ul li a:hover {
  background-color: transparent;
}

h2, h3 {
  font-family: 'Yantramanav', sans-serif;
}

#header-text {
  position: absolute;
  left: 14vw;
  top: 210px;
  font-size: 7vw;
  font-weight: 700;
  letter-spacing: -.70vw;
}

#header-text-mobile, #sub-header-mobile {
  visibility: hidden;
}

#sub-header {
  position: absolute;
  left: 14.43vw;
  top: 325px;
  font-size: 2.3vw;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: .07vw;
}

#header-text span, #sub-header span {
  mix-blend-mode: multiply;
}

#photo {
  background: url('http://i.imgur.com/xzBo6bZ.jpg');
}

.wrapper:hover, .wrapper2 {
  background: linear-gradient(40deg, #dd33f7, #e91e8b, #f1f470, #1ddde8, #948cf7, #dd00f3);
  background-size: 500% 500%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

.gradient {
  width: 2vw;
  height: 5px;
  border-radius: 3px;
  background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #da6ca4, #9cf1f1);
}

.btn {
  background-color: #338c68;
}


#about-me {
  background: #0b0310;
  height: 680px;
  width: 80vw;
  position: absolute;
  z-index: 9999;
  margin-top: -3.5vw;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 80vw;
}

#back-layer {
  height: 700px;
  background-color: #d5c9d5;
}

.section-header {
  font-size: 3.5rem;
  font-weight: 700;
  opacity: 0.25;
}

#about-content {
  color: #cccccc;
  margin-bottom: 60px;
  padding: 10px;
}


#fun-info {
  font-size: 1.3rem;
  padding: 0 10% 0 10%;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.sub-info {
  font-size: 1.4rem;
}

.work-details {
  font-size: 0.9rem;
}

.company {
  color: #6f6f6f;
}

#contact {
  text-align: center;
  font-weight: 800;
  height: 500px;
  opacity: .4;
}

#arrow {
  height: 410px;
  width: 22vw;
  background-color: lime;
  opacity: 0.1;
  position: absolute;
  margin-top: 1vw;
  margin-left: 5%;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
