#header {
  height:700px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-image: url('http://i.imgur.com/n4t4S2A.jpg');
}

nav {
  height: 80px;
  background-color: #000;
  line-height: 80px;
}

.side-nav {
  background-color: #eaeded;
}


a {
  color: #4ac8ac;
}

#logo {
  height: 80px;
}

nav ul li a:hover {
  background-color: transparent;
}

h2,
h3 {
  font-family: 'Yantramanav', sans-serif;
}

#header-text {
  position: absolute;
  left: 14vw;
  top: 210px;
  font-size: 7vw;
  font-weight: 700;
  letter-spacing: -.70vw;
}

#sub-header {
  position: absolute;
  left: 14.43vw;
  top: 325px;
  font-size: 2.3vw;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px;
}

#header-text span,
#sub-header span {
  mix-blend-mode: multiply;
}

#photo {
  background: url('http://i.imgur.com/xzBo6bZ.jpg');
}

.wrapper:hover,
.wrapper2 {
  background: linear-gradient(40deg, #dd33f7, #e91e8b, #f1f470, #1ddde8, #948cf7, #dd00f3);
  background-size: 500% 500%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

#about-me {
  background: #eaeded;
  color: #333;
  width: 70vw;
  position: absolute;
  z-index: 9999;
  margin-top: -3vw;
  margin-right: 15%;
  margin-left: 15%;
  max-width: 70vw;
  padding-bottom: 40px;
}

.space {
  padding: 0 20px 0 20px;
}

.breathing-room {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.breathing-room2 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

#back-layer {
  height: 655px;
  background-color: #d5c9d5;
  position:relative;
}

.section-header {
  font-size: 3.5rem;
  font-weight: 700;
  opacity: 0.25;
}

#about-content {
  margin-bottom: 40px;
  padding: 10px;
}


#fun-info {
  font-size: 1.3rem;
  padding: 25px 10% 0 10%;
  margin-bottom: 40px;
  line-height: 1.5;
}

.sub-info {
  font-size: 1.7rem;
  font-family: 'Yantramanav', sans-serif;
}

.work-details {
  font-size: 0.9rem;
}

.company {
  color: #6f6f6f;
}


#about-squiggle {
  opacity: .8;
}

/*SKILLS*/

.item-list {
  margin-bottom: 30px;
}

.item-list li {
  display: inline;
}

.item {
  margin-bottom: .812em;
  padding: .15em .9em;
  font-size: .875em;
  line-height: 1;
  font-style: italic;
  background-color: #cecece;
  border-radius: 41.625em;
}


/*FEATURED PROJECT SECTION */

#featured-project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #efe2da;
}

#featured-project-squiggle {
  margin-bottom: 60px;
}

#featured-project-container {
  width: 86%;
  max-width: 86%;
  margin-right: 7%;
  margin-left: 7%;
  color: #333;
}

#featured-project-container h4 {
  font-size: 2.1rem;
  font-family: 'Yantramanav', sans-serif;
}

#featured-project-container h5 {
  font-size: 1.5rem;
  font-family: 'Yantramanav', sans-serif;
}

#featured-left {
  border-right: 1px solid grey;
}

#features-header {
  padding-bottom: 15px;
}

#featured-info {
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: justify;
}

#octoboard {
  background-color: #ebe9e7;
  padding: 30px 30px 0 30px;
}


/*PROJECT IMAGE OVERLAY*/

.project-item {
  margin-bottom: .812em;
  padding: .2em 1.5em;
  font-size: .75em;
  line-height: 1;
  font-style: italic;
  background-color: #d5c9d5;
  border-radius: 41.625em;
}

.project-img {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: auto;
}

.picContainer {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.picContainer:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  font-size: 20px;
  color: #eaeded !important;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*OTHER PROJECT SECTION*/

#other-projects {
  background-color: #eef7f1;
  padding-bottom: 40px;
  padding-top: 60px;
}

#other-projects-container {
  width: 86%;
  max-width: 86%;
  margin-right: 7%;
  margin-left: 7%;
  color: #333;
}

#other-projects-squiggle {
  margin-bottom: 30px;
}

#tradeup,
#wingit,
#techspace {
  padding: 30px;
}

.responsibilities li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

#other-projects-container h4 {
  font-size: 2.1rem;
  font-family: 'Yantramanav', sans-serif
}

#other-projects-container h5 {
  font-size: 1.5rem;
  font-family: 'Yantramanav', sans-serif
}

#tradeup-info {
  padding-top: 75px;
}

#wingit-info {
  padding-top: 40px;
}

#techspace-info {
  padding-top: 55px;
}

/*EXPERIENCE*/

#experience-squiggle {
  margin-bottom: 80px;
}

/*CONTACT*/

#contact-back {
  text-align: center;
  height: 330px;
  background: url('http://i.imgur.com/tR2nYwn.jpg');
  filter: opacity(.75);
}

#contact {
  background-color: #dcccd5;
  width: 80vw;
  position: absolute;
  z-index: 9999;
  margin-top: -5vw;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 80vw;
}

#contact-content {
  color: #333;
  padding-bottom: 35px;
}

#contact-content h4, h5 {
  font-family: 'Yantramanav', sans-serif;
}

#contact-squiggle {
  margin-bottom: 1.5rem;
}

/*FOOTER*/

footer {
  color: #333;
  padding: 20px;
  text-align: center;
  background-color: #EAEDED;
}
