#header {
  height:700px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-image: url('http://i.imgur.com/n4t4S2A.jpg');
}

.space {
  padding: 0 20px 0 20px;
}

nav {
  height: 80px;
  background-color: #000;
  line-height: 80px;
}

#logo {
  height: 80px;
}

nav ul li a:hover {
  background-color: transparent;
}

h2, h3 {
  font-family: 'Yantramanav', sans-serif;
}

#header-text {
  position: absolute;
  left: 14vw;
  top: 210px;
  font-size: 7vw;
  font-weight: 700;
  letter-spacing: -.70vw;
}

#header-text-mobile, #sub-header-mobile {
  visibility: hidden;
}

#sub-header {
  position: absolute;
  left: 14.43vw;
  top: 325px;
  font-size: 2.3vw;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 3px;
}

#header-text span, #sub-header span {
  mix-blend-mode: multiply;
}

#photo {
  background: url('http://i.imgur.com/xzBo6bZ.jpg');
}

.wrapper:hover, .wrapper2 {
  background: linear-gradient(40deg, #dd33f7, #e91e8b, #f1f470, #1ddde8, #948cf7, #dd00f3);
  background-size: 500% 500%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  25%{background-position:50% 70%}
  50%{background-position:90% 19%}
  75%{background-position:17% 0%}
  100%{background-position:0% 82%}
}

.gradient {
  width: 2vw;
  height: 5px;
  border-radius: 3px;
  background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #da6ca4, #9cf1f1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #da6ca4, #9cf1f1);
}

#about-me {
  background: #eaeded;
  color: #333;
  width: 70vw;
  position: absolute;
  z-index: 9999;
  margin-top: -3vw;
  margin-right: 15%;
  margin-left: 15%;
  max-width: 70vw;
  padding-bottom: 40px;
}

.breathing-room {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.breathing-room2 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

#back-layer {
  height: 670px;
  background-color: #d5c9d5;
}

.section-header {
  font-size: 3.5rem;
  font-weight: 700;
  opacity: 0.25;
}

#about-content {
  margin-bottom: 40px;
  padding: 10px;
}


#fun-info {
  font-size: 1.3rem;
  padding: 25px 10% 0 10%;
  margin-bottom: 40px;
  line-height: 1.5;
}

.sub-info {
  font-size: 1.4rem;
}

.work-details {
  font-size: 0.9rem;
}

.company {
  color: #6f6f6f;
}


#about-squiggle {
  opacity: .8;
}

/*SKILLS*/

.item-list {
  margin-bottom: 60px;
}

.item-list li {
  display: inline;
}

.item {
  margin-bottom: .812em;
  padding: .357em 1.071em;
  font-size: .875em;
  line-height: 1;
  font-style: italic;
  background-color: #cecece;
  border-radius: 41.625em;
}


/*PROJECT SECTION */

#project-squiggle {
  margin-bottom: 60px;
}

#projects {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #efe2da;
}

.project-img {
  border: 5px solid #333;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: auto;
}


.picContainer {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.picContainer:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  font-size: 20px;
  color: white !important;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/*EXPERIENCE*/


#experience-squiggle {
  margin-bottom: 90px;
}

/*CONTACT*/

#contact-back {
  text-align: center;
  height: 275px;
  background: url('http://i.imgur.com/tR2nYwn.jpg');
  filter: opacity(.75);
}

#contact {
  background-color: #dcccd5;
  width: 80vw;
  position: absolute;
  z-index: 9999;
  margin-top: -4vw;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 80vw;
}

#contact-content {
  color: #333;
}

#contact-squiggle {
  margin-bottom: 1.5rem;
}

/*FOOTER*/

footer {
  color: #333;
  padding: 20px;
  text-align: center;
  background-color: #EAEDED;
}
